
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {
  background-color: $body-bg;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
form {
  width: 100%;
  > button{
    display: block;
    margin: 15% auto;
    padding: 0 10px;
  }
}
#rythmFighterBg{
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #7c7c7c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #9c9c9c;
  text-decoration: none;
}
